.button-shadow {
    position: relative;
    animation: shadow-pulse 2s infinite;
}

.button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0 #4286F4;
    }
    100% {
        box-shadow: 0 0 0px 15px rgba(185, 154, 76, 0);
    }
}

.button-shadow {
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    /* Adjust this to reduce the delay between animations */
}