li>a {
    position: relative;
    padding-bottom: 4px;
    text-decoration: none;
    transition: color 1.2s ease;
    color: inherit;
}

li>a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: rgb(45 212 191);
    transform: scaleX(0);
    transform-origin: 0% 100%;
    transition: transform 0.3s ease;
}

li>a:hover::after {
    transform: scaleX(1);
    color: rgb(45 212 191);
}

li>a:hover {
    color: rgb(45 212 191);
    transition: all .2s linear;
}

.active {
    color: rgb(45 212 191);
    font-weight: 600;
}

.active:hover::after {
    transform: scaleX(0);
}


